body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

input,
select {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 12px 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}